<%- content_for :sidebar do -%>
  <h2>Tips</h2>
  
  <p><%= image_tag('icons/magnifier.png') %> - Preview the page</p>
  <p><%= image_tag('icons/pencil.png') %> - Edit the record</p>
  <p><%= image_tag('icons/delete.png') %> - Delete the record</p>
  <p>Click on the record to view it</p>
<%- end -%>