<form id="frmSearch" name="frmSearch" method="get" action="/search">
  <input name="q" id="inpSearch" type="text" /><input type="image" name="submit" id="submit" value="Submit" src="/images/btnSearch.gif" />
</form>
