<div class="textsizecontainer">
  Text Size: <a href="javascript:setActiveStyleSheet('Normal Text Size');void(0);" class="active">A</a><a href="javascript:setActiveStyleSheet('Larger Text Size');void(0);" class="med">A</a><a href="javascript:setActiveStyleSheet('Largest Text Size');void(0);" class="lg">A</a>
</div>
