

<table>
	<tr>
		<td>
			Problem sending email to norcblueprint@uhfnyc.org
		</td>
	</tr>
	<tr>
		<td>
			<%= text_area :message, :message, :rows =>5, :cols=>40, :value=>params[:body] %>
		</td>
	</tr>
</table>
